body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ttr-tuits .ttr-tuit-avatar-logo {
  width: 48px;
}

.ttr-tuits .ttr-tuit-image-overlay {
  left: 10px;
}

.ttr-tuits .ttr-responsive-video::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}
.fsep-messageCont.right {
  border: black;
  border: solid;
  text-align: left;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.fsep-messageDate.right {
  float: right;
  position: relative;
  bottom: -6px;
  font-size-adjust: 0.4;
}
.fsep-messageCont.left {
  border: black;
  border: solid;
  text-align: right;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.fsep-messageDate.left {
  float: left;
  position: relative;
  bottom: -6px;
  font-size-adjust: 0.4;
}